<h1>About Me</h1>

<hr>

<div class="row">
    <div class="col-md-8">
        <%= image_tag "blue_duck.png", width: 500, alt: "blue duck image" %>
    </div>
    
    <div class="col-md-4">
        <font size="5">
            <p>I am TheBlueDuck</p>
            <p>I am friends with TheGoldDuck</p>
        </font>
    </div>
</div>