<div class="inner cover">
  <h1 class="cover-heading">WELCOME TO THE DUCK WEBSITE!</h1>
  <p class="lead">Only ducks allowed</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
  <img src="https://openclipart.org/download/222445/blue_duck.svg" style="width:300px;length:300px;">
</div>