<h1>Homepage</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>https://devcamp-rails-theblueduck.c9users.io/pages/home</p>
<p></p>https://devcamp-rails-theblueduck.c9users.io/blog</p>

<!-- <%= @posts.inspect %> -->